@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto";
}
/* Header */
.header{
    display: flex;
    background-color: #1F2937;
    padding: 10px;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 0px 50px;
}

.links{
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

/* Hero Text */

.intro{
    display: flex;
    background-color: #1F2937;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

p{
    font-size: 18px;
    color: grey;
}

.intro-left{
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

h1{
    margin: 0;
    padding: 0;
}

.intro-ramen{
    width:50%;
    height: auto;
    border: solid #F9FAF8 3px ;
    border-radius: 3px;
}

.intro-button{
    background-color: #3882f6;
    color: white;
    margin-right: auto;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 20px;
}

.hero-main{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

/* Info Section */

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


.info{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 20px;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: space-between;
    margin: 0px 15px;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border:solid #3882f6 5px;
}

.card{
    flex: 0 0 auto;
    width: 200px;

}
.card p{
    text-align: center;
}

/* Quote Section */
.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 100px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 5px;
}

.Iida{
    margin-left: auto;
    padding: 0px 60px;
}

/* CTA */

.cta{
    background-color: #3882f6;
    display: flex;
    padding: 50px 80px;
    margin: 100px 80px;
    justify-content: space-between;
}

.cta-left{
    display: flex;
    flex-flow: column wrap;
    color: white;
}

.cta-left p{
    margin: 0;
    padding-top: 5px;
    color: #F9FAF8;
}

.cta-left h3{
    margin: 0;
    padding: 0;
}

.sign-up{
    margin-left: 20px;
    padding: 0px 20px;
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

/* footer */

.footer{
    background-color: #1F2937;
    text-align: center;
    padding: 30px;
    color: white;
}
